/target/
target
/.settings/
/.metadata


*.zip
*.rar
*.via
*.tmp
*.err
*.war


.classpath
.project


/bin/
/logs/
/.idea/*
*.iml
/.dubbo
.DS_Store



# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.local
